body {
  background-color: #e8e9e0;
  text-align: center;
}

button {
  line-height: 2;
  max-width: 108px;
  width: 100%;
  margin: 0 4px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

h1 {
  font-family: monospace;
}

.main-container {
  position: relative;
  margin: 0 auto;
  display: grid;
  width: 46vw;
  height: 70vh;
  max-width: 720px;
  max-height: 1080px;
  border-radius: 12px;
  border: #f5f5f5 8px solid;
}

.square {
  display: box;
  background-color: #e4e3e3;
  border: 1px inset #f5f5f5;
}
